.viade-footer{
    background-color:#222;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 100%;
}
.viade-footer_container{
    margin-right: auto;
    margin-left: auto;
    padding: 31px 0;
    text-align: center;
}
.viade-footer_copyright, .viade-footer_link a{
    padding: 0 1em;
    color: white;
}
.viade-footer_container ul{
    display: flex;
}
.viade-footer_container ul li:not(:first-child) {
    border-left: 1px solid white;
}
